<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label data-cy="login-email-label" class="form-label" for="email">
            Email address
        </label>
        <input
            data-cy="login-email-input"
            type="email"
            id="email"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="email"
            required />
        <div data-cy="login-email-help" id="emailHelp" class="form-text">
            Enter the email address of the account.
        </div>
        <span
            data-cy="login-email-required-warning"
            class="text-danger"
            *ngIf="
                loginFormControl.email.touched &&
                loginFormControl.email.errors?.required
            ">
            Email is required
        </span>
        <span
            data-cy="login-email-valid-warning"
            class="text-danger"
            *ngIf="
                loginFormControl.email.touched &&
                loginFormControl.email.errors?.email
            ">
            Enter a valid email
        </span>
    </div>

    <div class="mb-3">
        <label data-cy="login-password-label" class="form-label" for="password">
            Password
        </label>
        <input
            data-cy="login-password-input"
            type="password"
            id="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            formControlName="password"
            required />
        <span
            data-cy="login-password-required-warning"
            class="text-danger"
            *ngIf="
                loginFormControl.password.touched &&
                loginFormControl.password.errors?.required
            ">
            Password is required
        </span>
    </div>

    <button
        data-cy="login-button"
        type="submit"
        class="btn btn-success btn-lg .is-invalid"
        [disabled]="loginForm.invalid">
        Log in
    </button>
</form>
