.modal-header {
    font-weight: bold;
    font-size: large;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#exerciseDetails {
    float: right;
}

#exerciseDetailsBody {
    color: #157347;
    font-size: large;
}

label {
    font-weight: bold;
    font-size: large;
}
