<div *ngIf="savedWorkouts.length > 0" class="d-grid gap-2 mx-auto">
    <button
        data-cy="view-saved-workout"
        *ngFor="let workout of savedWorkouts"
        type="button"
        class="btn btn-success btn-lg"
        (click)="selectWorkout(workout)"
        data-bs-toggle="modal"
        data-bs-target="#viewWorkoutModal">
        {{ workout.name }}
    </button>
</div>

<div *ngIf="savedWorkouts.length === 0" class="d-grid gap-2 mx-auto">
    <button
        data-cy="view-no-saved-workouts"
        type="button"
        class="btn btn-danger btn-lg"
        (click)="navigateToCreateWorkout()">
        No Saved Workouts! Create a new Workout.
    </button>
</div>

<!-- View Workout Modal -->
<div
    data-cy="view-workout-modal"
    class="modal fade"
    id="viewWorkoutModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="suggestedExercisesHeader">
                <div data-cy="view-workout-modal-header">
                    {{ selectedWorkout.name }}
                </div>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body" id="generateWorkoutSelectedEquipment">
                <div *ngFor="let exercise of selectedWorkout.exercises">
                    <label
                        data-cy="view-workout-modal-exercise"
                        class="list-group-item">
                        {{ exercise.name }}
                        <span id="exerciseDetails">
                            <a
                                data-cy="view-workout-modal-exercise-details"
                                href="#exerciseDetailsModal"
                                data-bs-toggle="modal"
                                (click)="setSelectedExerciseDetails(exercise)">
                                Exercise Details
                            </a>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Exercise Details Modal -->
<div
    data-cy="view-exercise-details-modal"
    class="modal fade"
    id="exerciseDetailsModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div
                data-cy="view-exercise-details-modal-header"
                class="modal-header"
                id="suggestedExercises">
                <div>
                    {{ selectedExerciseDetails['name'] }}
                </div>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div
                data-cy="view-exercise-details-modal-body"
                class="modal-body"
                id="exerciseDetailsBody">
                <div>
                    <b>Body Part:</b> {{ selectedExerciseDetails.bodyPart }}
                    <br />
                    <b>Equipment:</b> {{ selectedExerciseDetails.equipment }}
                    <br />
                    <b>Target:</b> {{ selectedExerciseDetails.target }}
                    <br />
                    <b>Movement:</b>
                    <br />
                    <iframe
                        data-cy="view-exercise-details-modal-animation"
                        *ngIf="!!selectedExerciseDetails.gifUrl"
                        height="360"
                        width="360"
                        [src]="selectedExerciseDetails.gifUrl | safe">
                    </iframe>
                </div>
            </div>

            <div
                data-cy="view-exercise-details-modal-footer"
                class="modal-footer">
                <button
                    data-cy="view-exercise-details-modal-back"
                    type="button"
                    class="btn btn-success"
                    data-bs-target="#viewWorkoutModal"
                    data-bs-toggle="modal">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
