/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.center {
    width: 80%;
    padding-top: 75px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
