<form
    *ngIf="registrationForm"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label
            data-cy="registration-email-label"
            class="form-label"
            for="email">
            Email address
        </label>
        <input
            data-cy="registration-email-input"
            type="email"
            id="email"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="email"
            required />
        <div data-cy="registration-email-help" id="emailHelp" class="form-text">
            Enter the email address of the new account.
        </div>
        <span
            data-cy="registration-email-required-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.email.touched &&
                registrationFormControl.email.errors?.required
            ">
            Email is required
        </span>
        <span
            data-cy="registration-email-valid-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.email.touched &&
                registrationFormControl.email.errors?.email
            ">
            Enter a valid email
        </span>
    </div>

    <div class="mb-3">
        <label
            data-cy="registration-password-label"
            class="form-label"
            for="password">
            Password
        </label>
        <input
            data-cy="registration-password-input"
            type="password"
            id="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            formControlName="password"
            required />
        <div
            data-cy="registration-password-help"
            id="passwordHelpBlock"
            class="form-text">
            Your password must be 8-20 alpha-numeric characters long.
        </div>
        <span
            data-cy="registration-password-required-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.password.touched &&
                registrationFormControl.password.errors?.required
            ">
            Password is required
        </span>
        <span
            data-cy="registration-password-min-length-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.password.touched &&
                registrationFormControl.password.errors?.minlength
            ">
            Password should have minimum 8 characters
        </span>
        <span
            data-cy="registration-password-max-length-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.password.touched &&
                registrationFormControl.password.errors?.maxlength
            ">
            Password should have maximum 20 characters
        </span>
        <span
            data-cy="registration-password-alpha-numeric-warning"
            class="text-danger"
            *ngIf="
                registrationFormControl.password.touched &&
                registrationFormControl.password.errors?.invalidPassword
            ">
            Password should only catain letters and numbers
        </span>
    </div>

    <button
        data-cy="registration-create-button"
        type="submit"
        class="btn btn-success btn-lg .is-invalid"
        [disabled]="registrationForm.invalid">
        Create Account
    </button>
</form>
