<div class="d-grid gap-2 mx-auto">
    <div class="mb-3 row">
        <label for="workoutName" class="col-sm-2 col-form-label">
            Workout Name
        </label>
        <div class="col-sm-10">
            <input
                data-cy="create-workout-name"
                class="form-control"
                id="workoutName"
                [(ngModel)]="workoutName" />
        </div>
    </div>

    <ul data-cy="create-workout-list" class="list-group">
        <li
            *ngIf="savedExercises.length === 0"
            class="list-group-item disabled">
            Please add exercises
        </li>
        <li
            *ngFor="let savedExercise of savedExercises"
            class="list-group-item">
            {{ savedExercise.name }}

            <span id="exerciseDetails">
                <a
                    href="#exerciseDetailsModal"
                    data-bs-toggle="modal"
                    (click)="
                        setSelectedExerciseDetails(savedExercise);
                        setModalTarget('')
                    ">
                    Exercise Details
                </a>
            </span>
        </li>
    </ul>

    <button
        data-cy="create-workout-manual-button"
        type="button"
        class="btn btn-success btn-lg"
        data-bs-toggle="modal"
        data-bs-target="#selectExercisesModal">
        Manually Add Exercises
    </button>

    <button
        data-cy="create-workout-generate-button"
        type="button"
        class="btn btn-success btn-lg"
        data-bs-toggle="modal"
        data-bs-target="#suggestedWorkoutModal">
        Generate Full Body Workout
    </button>

    <button
        data-cy="create-workout-reset-button"
        type="button"
        class="btn btn-success btn-lg"
        [disabled]="savedExercises.length === 0"
        (click)="resetWorkout()">
        Reset Workout
    </button>

    <button
        data-cy="create-workout-save-button"
        type="button"
        class="btn btn-success btn-lg"
        [disabled]="savedExercises.length === 0"
        (click)="saveWorkout()">
        Save
    </button>
</div>

<!-- Create Workout Modal -->
<div
    data-cy="create-workout-modal"
    *ngIf="allExercises.length > 0"
    class="modal fade"
    id="selectExercisesModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <input
                    data-cy="create-workout-modal-header-input"
                    type="text"
                    id="searchExercises"
                    placeholder="Search Exercises"
                    [(ngModel)]="filterText" />
                <select
                    data-cy="create-workout-modal-header-bodypart"
                    class="form-select"
                    id="bodypartSearch"
                    aria-label="Find Exercises by Body Part"
                    [(ngModel)]="selectedBodypart">
                    <option value="" [disabled]="true">Body Part</option>
                    <option value="">-----</option>
                    <option *ngFor="let bodypart of bodypartEnum">
                        {{ bodypart }}
                    </option>
                </select>
                <select
                    data-cy="create-workout-modal-header-equipment"
                    class="form-select"
                    id="equipmentSearch"
                    aria-label="Find Exercises by Equipment"
                    [(ngModel)]="selectedEquipment">
                    <option value="" [disabled]="true">Equipment</option>
                    <option value="">-----</option>
                    <option *ngFor="let equipment of equipmentEnum">
                        {{ equipment }}
                    </option>
                </select>
                <select
                    data-cy="create-workout-modal-header-target"
                    class="form-select"
                    id="targetSearch"
                    aria-label="Find Exercises by Target Muscle Group"
                    [(ngModel)]="selectedTarget">
                    <option value="" [disabled]="true">Target Muscle</option>
                    <option value="">-----</option>
                    <option *ngFor="let target of targetEnum">
                        {{ target }}
                    </option>
                </select>
                <button
                    data-cy="create-workout-modal-header-reset"
                    type="button"
                    class="btn btn-success"
                    (click)="resetFilters()">
                    Reset
                </button>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                    <label
                        class="list-group-item"
                        *ngFor="
                            let exercise of allExercises
                                | filterExercises
                                    : filterText
                                    : selectedBodypart
                                    : selectedEquipment
                                    : selectedTarget
                        ">
                        <input
                            data-cy="create-workout-modal-body-exercise"
                            class="form-check-input me-1"
                            type="checkbox"
                            [checked]="isChecked(exercise)"
                            (change)="selectExercise(exercise)"
                            value="{{ exercise }}" />
                        {{ exercise.name }}
                        <span id="exerciseDetails">
                            <a
                                href="#exerciseDetailsModal"
                                data-bs-toggle="modal"
                                (click)="
                                    setSelectedExerciseDetails(exercise);
                                    setModalTarget('selectExercisesModal')
                                ">
                                Exercise Details
                            </a>
                        </span>
                    </label>
                </ul>
                <div
                    id="noExercisesAvailable"
                    *ngIf="
                        (
                            allExercises
                            | filterExercises
                                : filterText
                                : selectedBodypart
                                : selectedEquipment
                                : selectedTarget
                        ).length === 0
                    ">
                    No exercises available. Please adjust filters.
                </div>
            </div>

            <div class="modal-footer">
                <button
                    data-cy="create-workout-modal-footer-generate"
                    type="button"
                    class="btn btn-success"
                    data-bs-target="#suggestedWorkoutModal"
                    data-bs-toggle="modal">
                    Generate Full Body Workout
                </button>
                <button
                    data-cy="create-workout-modal-footer-save"
                    type="button"
                    class="btn btn-success"
                    (click)="saveChanges()"
                    data-bs-dismiss="modal">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Random Workout Modal -->
<div
    *ngIf="generatedWorkout.size > 0"
    class="modal fade"
    id="suggestedWorkoutModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="suggestedExercisesHeader">
                <div>Full Body Workout</div>

                <button
                    type="button"
                    id="selectEquipmentButton"
                    class="btn btn-success"
                    data-bs-target="#suggestedWorkoutEquipmentModal"
                    data-bs-toggle="modal">
                    Select Equipment
                </button>

                <button
                    type="button"
                    id="generateWorkoutButton"
                    class="btn btn-success"
                    (click)="generateWorkout()">
                    Generate New Full Body Workout
                </button>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                    <div *ngFor="let bodypart of bodypartEnum">
                        <label id="bodyPartLabel">{{ bodypart }}</label>
                        <label
                            *ngIf="generatedWorkout.get(bodypart)"
                            class="list-group-item">
                            <input
                                class="form-check-input me-1"
                                type="checkbox"
                                [checked]="
                                    isChecked(generatedWorkout.get(bodypart))
                                "
                                (change)="
                                    selectExercise(
                                        generatedWorkout.get(bodypart)
                                    )
                                "
                                value="{{ generatedWorkout.get(bodypart) }}" />
                            {{ generatedWorkout.get(bodypart)?.name }}
                            <span id="exerciseDetails">
                                <a
                                    href="#exerciseDetailsModal"
                                    data-bs-toggle="modal"
                                    (click)="
                                        setSelectedExerciseDetails(
                                            generatedWorkout.get(bodypart)
                                        );
                                        setModalTarget('suggestedWorkoutModal')
                                    ">
                                    Exercise Details
                                </a>
                            </span>
                        </label>
                        <label
                            *ngIf="!generatedWorkout.get(bodypart)"
                            id="exerciseNotFound"
                            class="list-group-item">
                            Exercise not found for body part. Please adjust
                            filters.
                        </label>
                    </div>
                </ul>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-success"
                    data-bs-target="#selectExercisesModal"
                    data-bs-toggle="modal">
                    Manually Add Exercises
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="saveChanges()"
                    data-bs-dismiss="modal">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Random Workout Equipment Modal -->
<div
    *ngIf="generatedWorkout.size > 0"
    class="modal fade"
    id="suggestedWorkoutEquipmentModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div>Select Equipment for Full Body Workout</div>
            </div>

            <div class="modal-body" id="generateWorkoutSelectedEquipment">
                <div *ngFor="let equipment of equipmentEnum">
                    <label class="list-group-item">
                        <input
                            class="form-check-input me-1"
                            type="checkbox"
                            [checked]="isSelectedEquipmentChecked(equipment)"
                            (change)="selectFullBodyWorkoutEquipment(equipment)"
                            value="{{ equipment }}" />
                        {{ equipment }}
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-success"
                    data-bs-target="#suggestedWorkoutModal"
                    data-bs-toggle="modal"
                    (click)="generateWorkout()">
                    Save and Update Workout
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Exercise Details Modal -->
<div
    class="modal fade"
    id="exerciseDetailsModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="suggestedExercises">
                <div>
                    {{ selectedExerciseDetails['name'] }}
                </div>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body" id="exerciseDetailsBody">
                <div>
                    <b>Body Part:</b> {{ selectedExerciseDetails.bodyPart }}
                    <br />
                    <b>Equipment:</b> {{ selectedExerciseDetails.equipment }}
                    <br />
                    <b>Target:</b> {{ selectedExerciseDetails.target }}
                    <br />
                    <b>Movement:</b>
                    <br />
                    <iframe
                        *ngIf="!!selectedExerciseDetails.gifUrl"
                        height="360"
                        width="360"
                        [src]="selectedExerciseDetails.gifUrl | safe">
                    </iframe>
                </div>
            </div>

            <div class="modal-footer">
                <button
                    *ngIf="modalTarget !== ''"
                    type="button"
                    class="btn btn-success"
                    [attr.data-bs-target]="'#' + modalTarget"
                    data-bs-toggle="modal">
                    Back
                </button>
                <button
                    *ngIf="modalTarget === ''"
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
