label {
    font-weight: bold;
    font-size: large;
}

#noExercisesAvailable {
    color: black;
}

.modal-header {
    font-weight: bold;
    font-size: large;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#suggestedExercisesHeader {
    justify-content: flex-end;
}

.modal-header #selectEquipmentButton {
    margin: 0rem 0.5rem 0rem auto;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: 0rem 0rem 0rem 0rem;
}

#separator {
    background-color: #157347;
    border-color: #146c43;
}

.modal-body {
    min-height: 50%;
}

#bodyPartLabel {
    font-weight: bold;
    font-size: large;
    color: black;
}

#exerciseDetails {
    float: right;
}

#exerciseDetailsBody {
    color: #157347;
    font-size: large;
}

#exerciseNotFound {
    color: red;
}
