<div class="accordion" id="accordionExample">
    <div
        class="accordion-item"
        *ngFor="let exercise of exercisesToDisplay; let exerciseIndex = index">
        <h2 class="accordion-header" id="{{ 'heading' + exerciseIndex }}">
            <button
                data-cy="display-exercise-button"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#exerciseBody' + exerciseIndex"
                aria-expanded="false"
                [attr.aria-controls]="'equipmentBody' + exerciseIndex">
                {{ exercise.name }}
            </button>
        </h2>
        <div
            id="{{ 'exerciseBody' + exerciseIndex }}"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + exerciseIndex"
            data-bs-parent="#accordionExample">
            <div data-cy="display-exercise-accordion" class="accordion-body">
                Body Part: {{ exercise.bodyPart }}
                <br />
                Equipment: {{ exercise.equipment }}
                <br />
                Target: {{ exercise.target }}
                <br />
                Movement:
                <br />
                <iframe height="360" width="360" [src]="exercise.gifUrl | safe">
                </iframe>
            </div>
        </div>
    </div>
</div>
