<nav
    data-cy="navbar"
    class="navbar fixed-top navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a
            data-cy="navbar-home"
            class="navbar-brand"
            (click)="navigateToHome()"
            role="button"
            >Home</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        data-cy="navbar-find-exercises"
                        class="nav-link active"
                        aria-current="page"
                        (click)="navigateToFindExercises()"
                        role="button"
                        >Find Exercises</a
                    >
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a
                        data-cy="navbar-create-workout"
                        class="nav-link active"
                        aria-current="page"
                        (click)="navigateToCreateWorkout()"
                        role="button"
                        >Create Workout</a
                    >
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a
                        data-cy="navbar-view-workouts"
                        class="nav-link active"
                        aria-current="page"
                        (click)="navigateToViewWorkouts()"
                        role="button"
                        >View Workouts</a
                    >
                </li>
            </ul>
            <ul *ngIf="!loggedIn" class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a
                        data-cy="navbar-log-in"
                        class="nav-link active"
                        aria-current="page"
                        (click)="navigateToLogin()"
                        role="button"
                        >Log in</a
                    >
                </li>
            </ul>
            <span class="navbar-text" data-cy="navbar-logged-in-email">
                {{ email }}
            </span>
            <ul *ngIf="loggedIn" class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a
                        data-cy="navbar-log-out"
                        class="nav-link active"
                        aria-current="page"
                        (click)="logOut()"
                        role="button"
                        >Log Out</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
