<div class="d-grid gap-2 mx-auto">
    <button
        *ngIf="!loggedIn"
        data-cy="create-account-button"
        type="button"
        class="btn btn-success btn-lg"
        (click)="navigateToRegister()">
        Create Account
    </button>
    <button
        *ngIf="!loggedIn"
        data-cy="log-in-button"
        type="button"
        class="btn btn-success btn-lg"
        (click)="navigateToLogin()">
        Log in
    </button>
    <button
        data-cy="find-exercises-button"
        type="button"
        class="btn btn-success btn-lg"
        (click)="navigateToFindExercises()">
        Find Exercises
    </button>
    <button
        data-cy="create-workout-button"
        type="button"
        class="btn btn-success btn-lg"
        [disabled]="!loggedIn"
        (click)="navigateToCreateWorkout()">
        {{ loggedIn ? 'Create Workout' : 'Log In to Create Workout!' }}
    </button>
    <button
        data-cy="view-workout-button"
        type="button"
        class="btn btn-success btn-lg"
        [disabled]="!loggedIn"
        (click)="navigateToViewWorkouts()">
        {{ loggedIn ? 'View Workouts' : 'Log In to View Workouts!' }}
    </button>
</div>
