<div class="accordion" id="findExercisesAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="equipmentHeader">
            <button
                data-cy="find-equipment-button"
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#equipmentBody"
                aria-expanded="true"
                aria-controls="equipmentBody">
                Find Exercises by Equipment
            </button>
        </h2>
        <div
            id="equipmentBody"
            class="accordion-collapse collapse show"
            aria-labelledby="equipmentHeader"
            data-bs-parent="#findExercisesAccordion">
            <div class="accordion-body">
                <div class="input-group">
                    <select
                        data-cy="find-equipment-select"
                        class="form-select"
                        id="equipmentSearch"
                        aria-label="Find Exercises by Equipment"
                        [(ngModel)]="selectedEquipment">
                        <option *ngFor="let equipment of equipmentEnum">
                            {{ equipment }}
                        </option>
                    </select>
                    <button
                        data-cy="find-equipment-search-button"
                        class="btn btn-outline-success"
                        type="button"
                        (click)="findExercisesByEquipment()">
                        Find Exercises
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button
                data-cy="find-body-part-button"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#bodypartBody"
                aria-expanded="false"
                aria-controls="bodypartBody">
                Find Exercises by Body Part
            </button>
        </h2>
        <div
            id="bodypartBody"
            class="accordion-collapse collapse"
            aria-labelledby="bodypartHeader"
            data-bs-parent="#findExercisesAccordion">
            <div class="accordion-body">
                <div class="input-group">
                    <select
                        class="form-select"
                        id="bodypartSearch"
                        aria-label="Find Exercises by Body Part"
                        [(ngModel)]="selectedBodypart">
                        <option *ngFor="let bodypart of bodypartEnum">
                            {{ bodypart }}
                        </option>
                    </select>
                    <button
                        class="btn btn-outline-success"
                        type="button"
                        (click)="findExercisesByBodypart()">
                        Find Exercises
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button
                data-cy="find-target-button"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#targetBody"
                aria-expanded="false"
                aria-controls="bodypartBody">
                Find Exercises by Target Muscle Group
            </button>
        </h2>
        <div
            id="targetBody"
            class="accordion-collapse collapse"
            aria-labelledby="targetHeader"
            data-bs-parent="#findExercisesAccordion">
            <div class="accordion-body">
                <div class="input-group">
                    <select
                        class="form-select"
                        id="targetSearch"
                        aria-label="Find Exercises by Target Muscle Group"
                        [(ngModel)]="selectedTarget">
                        <option *ngFor="let target of targetEnum">
                            {{ target }}
                        </option>
                    </select>
                    <button
                        class="btn btn-outline-success"
                        type="button"
                        (click)="findExercisesByTarget()">
                        Find Exercises
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
